In [10]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('data/GSS.csv')

In [4]:
df.head()

,YEAR,ID_,WRKSTAT,HRS1,HRS2,EVWORK,WRKSLF,WRKGOVT,OCC10,INDUS10,...,FEHIRE,RELPERSN,SPRTPRSN,OTHLANG,OTHLANG1,OTHLANG2,MEOVRWRK,DATEINTV,COHORT,BALLOT
0,1972,1,1,-1,-1,0,2,0,520,5170,...,0,0,0,0,0,0,0,0,1949,0
1,1972,2,5,-1,-1,1,2,0,7700,6470,...,0,0,0,0,0,0,0,0,1902,0
2,1972,3,2,-1,-1,0,2,0,4920,7070,...,0,0,0,0,0,0,0,0,1924,0
3,1972,4,1,-1,-1,0,2,0,800,5170,...,0,0,0,0,0,0,0,0,1945,0
4,1972,5,7,-1,-1,1,2,0,5020,6680,...,0,0,0,0,0,0,0,0,1911,0

In [34]:
t1 = df.nunique().sort_values().index.tolist()

In [51]:
df.nunique()

YEAR          31
ID_         4510
WRKSTAT        9
HRS1          93
HRS2          63
EVWORK         5
WRKSLF         5
WRKGOVT        5
OCC10        532
INDUS10      273
MARITAL        6
AGEWED        60
DIVORCE        5
SPWRKSTA      10
SPHRS1        91
SPEVWORK       5
PAWRKSLF       5
PAIND80      233
SIBS          43
CHILDS        10
AGE           74
EDUC          23
DEGREE         7
PADEG          8
MAJOR1        83
MAJOR2        75
DIPGED         7
WHENHS        81
WHENCOL       77
SECTOR        10
SEX            2
RACE           3
RES16          9
BORN           5
PARBORN       11
HOMPOP        17
BABIES         8
PRETEEN        9
TEENS         10
INCOME        16
RINCOME       16
RINCOM06      29
REGION         9
PARTYID       10
VOTE00         7
PRES00         8
VOTE04         6
PRES04         7
IF04WHO        6
VOTE08         6
PRES08         7
IF08WHO        6
VOTE12         6
PRES12         7
IF12WHO        6
POLVIEWS      10
NATSPAC        6
NATENVIR       6
NATHEAL        6
NATCITY        6
NATCRIME       6
NATDRUG        6
NATEDUC        6
NATRACE        6
NATARMS        6
NATAID         6
NATFARE        6
NATROAD        6
NATSOC         6
NATMASS        6
NATPARK        6
NATCHLD        6
NATSCI         6
NATENRGY       6
NATSPACY       6
NATENVIY       6
NATHEALY       6
NATCITYY       6
NATCRIMY       6
NATDRUGY       6
NATEDUCY       6
NATRACEY       6
NATARMSY       6
NATAIDY        6
NATFAREY       6
EQWLTH        10
TAX            7
SPKATH         5
COLATH         5
LIBATH         5
SPKRAC         5
COLRAC         5
LIBRAC         5
SPKCOM         5
COLCOM         5
LIBCOM         5
SPKMIL         5
COLMIL         5
LIBMIL         5
SPKHOMO        5
COLHOMO        5
LIBHOMO        5
SPKMSLM        5
COLMSLM        5
LIBMSLM        5
CAPPUN         5
GUNLAW         5
COURTS         6
GRASS          5
RELIG         15
DENOM         30
OTHER        175
JEW            8
FUND           4
ATTEND        10
RELITEN        7
POSTLIFE       5
PRAY           9
RELIG16       16
DENOM16       30
OTH16        142
JEW16          8
FUND16         5
SPREL         16
SPDEN         30
SPOTHER      133
SPJEWAJ        2
BIBLE          7
RACLIVE        5
AFFRMACT       7
WRKWAYUP       8
CLOSEBLK      12
CLOSEWHT      12
HAPPY          6
HAPMAR         6
HEALTH         7
LIFE           6
HELPFUL        6
FAIR           6
TRUST          6
CONFINAN       6
CONBUS         6
CONCLERG       6
CONEDUC        6
CONFED         6
CONLABOR       6
CONPRESS       6
CONMEDIC       6
CONTV          6
CONJUDGE       6
CONSCI         6
CONLEGIS       6
CONARMY        6
OBEY           7
POPULAR        7
THNKSELF       7
WORKHARD       7
HELPOTH        7
SOCREL        10
SOCOMMUN      10
SOCFREND      10
SOCBAR        10
AGED           6
WEEKSWRK      56
PARTFULL       5
JOBLOSE        8
JOBFIND        6
SATJOB         7
RICHWORK       5
CLASS_         8
RANK          13
SATFIN         6
FINALTER       6
FINRELA        8
GETAHEAD       7
PARSOL         8
KIDSSOL        9
FEPOL          5
ABDEFECT       5
ABNOMORE       5
ABHLTH         5
ABPOOR         5
ABRAPE         5
ABSINGLE       5
ABANY          5
CHLDIDEL      11
PILLOK         7
SEXEDUC        6
DIVLAW         6
PREMARSX       7
TEENSEX        7
XMARSEX        7
HOMOSEX        8
PORNLAW        6
XMOVIE         5
SPANKING       7
LETDIE1        5
SUICIDE1       5
SUICIDE2       5
SUICIDE3       5
SUICIDE4       5
POLHITOK       5
POLABUSE       5
POLMURDR       5
POLESCAP       5
POLATTAK       5
FEAR           5
OWNGUN         6
PISTOL         6
SHOTGUN        6
RIFLE          6
ROWNGUN        6
HUNT           7
NEWS           7
TVHOURS       27
PHONE          8
COOP           7
COMPREND       5
FEPRESCH       7
FEFAM          7
RACDIF1        5
RACDIF2        5
RACDIF3        5
RACDIF4        5
HELPPOOR       8
HELPNOT        8
HELPSICK       8
HELPBLK        8
GOD            9
REBORN         5
SAVESOUL       5
MARHISP        8
DISCAFF        6
FEJOBAFF       7
DISCAFFM       7
DISCAFFW       7
FEHIRE         8
RELPERSN       7
SPRTPRSN       7
OTHLANG        4
OTHLANG1     122
OTHLANG2     103
MEOVRWRK       8
DATEINTV     352
COHORT       117
BALLOT         5
dtype: int64

In [48]:
pd.options.display.max_rows = 4000
df.nunique().sort_values()

test1          0
SPJEWAJ        2
SEX            2
RACE           3
OTHLANG        4
FUND           4
FEPOL          5
ABDEFECT       5
ABNOMORE       5
ABHLTH         5
ABPOOR         5
ABRAPE         5
XMOVIE         5
ABANY          5
PARTFULL       5
LETDIE1        5
SUICIDE1       5
SUICIDE2       5
ABSINGLE       5
RACLIVE        5
GUNLAW         5
SPKATH         5
SUICIDE3       5
RACDIF3        5
PAWRKSLF       5
SPEVWORK       5
DIVORCE        5
WRKGOVT        5
WRKSLF         5
SAVESOUL       5
REBORN         5
BORN           5
RACDIF4        5
EVWORK         5
COLATH         5
SUICIDE4       5
RICHWORK       5
POLABUSE       5
POLHITOK       5
RACDIF1        5
RACDIF2        5
GRASS          5
CAPPUN         5
LIBMSLM        5
COLMSLM        5
SPKMSLM        5
COLHOMO        5
SPKHOMO        5
LIBMIL         5
COLMIL         5
SPKMIL         5
LIBCOM         5
LIBHOMO        5
SPKCOM         5
POLMURDR       5
COLCOM         5
POLESCAP       5
POLATTAK       5
FEAR           5
FUND16         5
COMPREND       5
BALLOT         5
LIBATH         5
SPKRAC         5
COLRAC         5
LIBRAC         5
POSTLIFE       5
NATSOC         6
NATCITYY       6
NATROAD        6
NATMASS        6
NATPARK        6
IF12WHO        6
VOTE04         6
IF08WHO        6
NATHEALY       6
NATENRGY       6
NATSPACY       6
VOTE12         6
IF04WHO        6
NATENVIY       6
NATSCI         6
NATFAREY       6
NATDRUGY       6
NATENVIR       6
NATCHLD        6
VOTE08         6
NATFARE        6
NATRACEY       6
NATAID         6
NATEDUCY       6
NATARMSY       6
NATARMS        6
NATAIDY        6
NATEDUC        6
NATDRUG        6
NATCRIMY       6
NATCITY        6
NATHEAL        6
NATRACE        6
HAPMAR         6
NATCRIME       6
CONTV          6
TRUST          6
ROWNGUN        6
CONLEGIS       6
COURTS         6
HAPPY          6
HELPFUL        6
CONMEDIC       6
CONPRESS       6
CONFED         6
CONLABOR       6
CONBUS         6
CONCLERG       6
CONEDUC        6
CONFINAN       6
FAIR           6
NATSPAC        6
LIFE           6
RIFLE          6
CONJUDGE       6
CONARMY        6
AGED           6
JOBFIND        6
SATFIN         6
FINALTER       6
DISCAFF        6
CONSCI         6
DIVLAW         6
PORNLAW        6
MARITAL        6
OWNGUN         6
PISTOL         6
SHOTGUN        6
SEXEDUC        6
COOP           7
AFFRMACT       7
OBEY           7
DIPGED         7
FEPRESCH       7
FEFAM          7
PRES04         7
PRES12         7
RELITEN        7
VOTE00         7
TAX            7
PRES08         7
BIBLE          7
HUNT           7
HEALTH         7
POPULAR        7
SATJOB         7
SPRTPRSN       7
WORKHARD       7
THNKSELF       7
HELPOTH        7
NEWS           7
DEGREE         7
GETAHEAD       7
DISCAFFM       7
FEJOBAFF       7
PREMARSX       7
TEENSEX        7
XMARSEX        7
SPANKING       7
DISCAFFW       7
RELPERSN       7
PILLOK         7
JOBLOSE        8
PADEG          8
MARHISP        8
HELPPOOR       8
WRKWAYUP       8
FINRELA        8
CLASS_         8
PARSOL         8
BABIES         8
HELPNOT        8
HELPBLK        8
JEW16          8
HELPSICK       8
HOMOSEX        8
PRES00         8
PHONE          8
JEW            8
FEHIRE         8
MEOVRWRK       8
REGION         9
KIDSSOL        9
PRETEEN        9
WRKSTAT        9
PRAY           9
RES16          9
GOD            9
POLVIEWS      10
EQWLTH        10
SOCBAR        10
SECTOR        10
SPWRKSTA      10
CHILDS        10
SOCREL        10
PARTYID       10
SOCFREND      10
SOCOMMUN      10
TEENS         10
ATTEND        10
PARBORN       11
CHLDIDEL      11
CLOSEBLK      12
CLOSEWHT      12
RANK          13
RELIG         15
SPREL         16
INCOME        16
RINCOME       16
RELIG16       16
HOMPOP        17
EDUC          23
TVHOURS       27
RINCOM06      29
DENOM         30
DENOM16       30
SPDEN         30
YEAR          31
SIBS          43
WEEKSWRK      56
AGEWED        60
HRS2          63
AGE           74
MAJOR2        75
WHENCOL       77
WHENHS        81
MAJOR1        83
SPHRS1        91
HRS1          93
OTHLANG2     103
COHORT       117
OTHLANG1     122
SPOTHER      133
OTH16        142
OTHER        175
PAIND80      233
INDUS10      273
DATEINTV     352
OCC10        532
ID_         4510
dtype: int64

In [37]:
df = df[t1]

In [24]:
df2 = df.ix[:, df.apply(lambda x: x.nunique()) >= 10]

C:\Users\jakes\AppData\Local\Continuum\anaconda3\envs\viz\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [33]:
df.columns

Index(['YEAR', 'ID_', 'WRKSTAT', 'HRS1', 'HRS2', 'EVWORK', 'WRKSLF', 'WRKGOVT',
       'OCC10', 'INDUS10',
       ...
       'FEHIRE', 'RELPERSN', 'SPRTPRSN', 'OTHLANG', 'OTHLANG1', 'OTHLANG2',
       'MEOVRWRK', 'DATEINTV', 'COHORT', 'BALLOT'],
      dtype='object', length=246)

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62466 entries, 0 to 62465
Data columns (total 52 columns):
YEAR        62466 non-null int64
ID_         62466 non-null int64
HRS1        62466 non-null int64
HRS2        62466 non-null int64
OCC10       62466 non-null int64
INDUS10     62466 non-null int64
AGEWED      62466 non-null int64
SPWRKSTA    62466 non-null int64
SPHRS1      62466 non-null int64
PAIND80     62466 non-null int64
SIBS        62466 non-null int64
CHILDS      62466 non-null int64
AGE         62466 non-null int64
EDUC        62466 non-null int64
MAJOR1      62466 non-null int64
MAJOR2      62466 non-null int64
WHENHS      62466 non-null int64
WHENCOL     62466 non-null int64
SECTOR      62466 non-null int64
PARBORN     62466 non-null int64
HOMPOP      62466 non-null int64
TEENS       62466 non-null int64
INCOME      62466 non-null int64
RINCOME     62466 non-null int64
RINCOM06    62466 non-null int64
PARTYID     62466 non-null int64
POLVIEWS    62466 non-null int64
EQWLTH      62466 non-null int64
RELIG       62466 non-null int64
DENOM       62466 non-null int64
OTHER       62466 non-null int64
ATTEND      62466 non-null int64
RELIG16     62466 non-null int64
DENOM16     62466 non-null int64
OTH16       62466 non-null int64
SPREL       62466 non-null int64
SPDEN       62466 non-null int64
SPOTHER     62466 non-null int64
CLOSEBLK    62466 non-null int64
CLOSEWHT    62466 non-null int64
SOCREL      62466 non-null int64
SOCOMMUN    62466 non-null int64
SOCFREND    62466 non-null int64
SOCBAR      62466 non-null int64
WEEKSWRK    62466 non-null int64
RANK        62466 non-null int64
CHLDIDEL    62466 non-null int64
TVHOURS     62466 non-null int64
OTHLANG1    62466 non-null int64
OTHLANG2    62466 non-null int64
DATEINTV    62466 non-null int64
COHORT      62466 non-null int64
dtypes: int64(52)
memory usage: 24.8 MB

In [27]:
df.SIBS.value_counts()

 2     11313
 1     10152
 3      9561
 4      7024
 5      5066
 6      3849
 7      3296
 0      3047
 8      2165
 9      1608
-1      1518
 10     1105
 11      865
 12      577
 13      393
 14      220
 15      146
 99      114
 16      108
 98       59
 17       52
 21       49
 18       44
 20       31
 19       25
 22       17
 23       15
 27        7
 26        6
 25        6
 31        6
 24        5
 30        4
 29        2
 33        2
 32        2
 37        1
 68        1
 55        1
 35        1
 28        1
 43        1
 34        1
Name: SIBS, dtype: int64

In [28]:
df.WHENHS.value_counts()

0       60954
2008       43
2009       42
2000       41
2010       39
2005       37
2007       37
2006       33
2011       32
2012       31
2004       30
1973       30
1983       30
1980       30
1986       30
1998       29
1999       28
1977       28
1994       28
2001       27
2013       27
1967       26
1976       26
1997       26
1982       26
2014       25
1979       25
1981       24
2003       24
1992       23
        ...
2015       15
1961       14
1960       14
9999       13
9998       13
1971       13
1984       12
1958       12
1963       10
1962       10
1954        9
1959        7
1950        7
1956        7
1949        6
1946        6
1953        5
1947        5
1948        5
1951        4
1957        4
1952        4
1940        3
1943        3
1945        3
1944        2
1936        1
1941        1
1942        1
1939        1
Name: WHENHS, Length: 81, dtype: int64

In [29]:
df.CLOSEBLK.value_counts()

0     46382
5      6561
9      2629
7      1964
6      1297
8       951
1       821
4       642
3       613
2       398
98      119
99       89
Name: CLOSEBLK, dtype: int64

In [30]:
df.CLOSEWHT.value_counts()

0     46382
5      4896
9      4664
7      2266
8      2002
6      1059
4       336
3       231
1       217
99      160
2       151
98      102
Name: CLOSEWHT, dtype: int64

In [2]:
# import pandas as pd    

# with open('data/GSS.dat','r') as f:
#     next(f) # skip first row
#     df2 = pd.DataFrame(l.rstrip().split() for l in f)

# # print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'data/GSS.dat'

In [ ]:
[hrs1,hrs2,sibs,childs,age,]

In [ ]:
meo

In [14]:
print(df.filter(like='spike').columns)

TypeError: 'int' object is not iterable

In [ ]:
df.hrs1

In [ ]:
pd.as

In [18]:
df2 =df.apply(str)

In [29]:
df2 = pd.DataFrame()

for col in df:
    df2[col] = df[col].apply(str)

In [32]:
df2.dtypes.head()

YEAR       object
ID_        object
WRKSTAT    object
HRS1       object
HRS2       object
dtype: object

In [ ]:
df2.apply(lambda )

In [39]:
True in list(df2.YEAR.str.contains('1998'))

True

In [2]:
# import pandas as pd    

# with open('data/GSS.dat','r') as f:
#     next(f) # skip first row
#     df2 = pd.DataFrame(l.rstrip().split() for l in f)

# # print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'data/GSS.dat'

In [35]:
# df.COHORT.value_counts()

In [22]:
Continous = ["YEAR","HRS1","HRS2","AGEWED","SPHRS1","SIBS","CHILDS","AGE","WHENHS","WHENCOL","PARBORN","HOMPOP","CHLDIDEL","COHORT","BABIES","PRETEEN","TEENS","TVHOURS",'WEEKSWRK']
Large_Categoricals = ["occ10","indus10","paind80","educ","major1","major2","income","rincome","rincom06","relig","denom","other","relig16","denom16","oth16","jew16","fund16","sprel","spden","spother","spjewaj","othlang1","othlang2"]
Large_Categoricals = [elem.upper() for elem in Large_Categoricals]
Drop = ["ID_","BALLOT","DATEINTV"]

In [23]:
df_test = df.drop(Continous, axis=1)
df_test = df_test.drop(Large_Categoricals, axis=1)
df_test = df_test.drop(Drop, axis=1)

In [19]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62466 entries, 0 to 62465
Columns: 205 entries, WRKSTAT to MEOVRWRK
dtypes: int64(205)
memory usage: 97.7 MB

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62466 entries, 0 to 62465
Columns: 246 entries, YEAR to BALLOT
dtypes: int64(246)
memory usage: 117.2 MB

In [ ]:
# 8 Disntincy

In [24]:
pd.options.display.max_rows = 4000
df_test.nunique().sort_values()

SEX          2
RACE         3
FUND         4
OTHLANG      4
LIBRAC       5
COLRAC       5
SPKRAC       5
LIBATH       5
COLATH       5
SPKATH       5
SAVESOUL     5
RACDIF4      5
RACDIF2      5
RACDIF1      5
PARTFULL     5
RICHWORK     5
SPKCOM       5
COLCOM       5
SPKMIL       5
COMPREND     5
COLMIL       5
LIBMIL       5
SPKHOMO      5
COLHOMO      5
LIBHOMO      5
SPKMSLM      5
COLMSLM      5
LIBMSLM      5
CAPPUN       5
GUNLAW       5
GRASS        5
REBORN       5
POSTLIFE     5
LIBCOM       5
FEPOL        5
RACDIF3      5
RACLIVE      5
XMOVIE       5
SUICIDE2     5
ABDEFECT     5
SUICIDE3     5
SUICIDE4     5
POLHITOK     5
BORN         5
POLABUSE     5
POLMURDR     5
POLESCAP     5
POLATTAK     5
FEAR         5
PAWRKSLF     5
SPEVWORK     5
SUICIDE1     5
DIVORCE      5
WRKGOVT      5
WRKSLF       5
ABANY        5
ABSINGLE     5
ABRAPE       5
ABPOOR       5
ABHLTH       5
ABNOMORE     5
EVWORK       5
LETDIE1      5
PISTOL       6
LIFE         6
HAPMAR       6
HAPPY        6
OWNGUN       6
FINALTER     6
DIVLAW       6
SATFIN       6
JOBFIND      6
AGED         6
CONARMY      6
CONLEGIS     6
CONSCI       6
CONJUDGE     6
CONTV        6
CONMEDIC     6
CONPRESS     6
CONLABOR     6
CONFED       6
CONEDUC      6
CONCLERG     6
CONBUS       6
CONFINAN     6
TRUST        6
SEXEDUC      6
FAIR         6
PORNLAW      6
ROWNGUN      6
HELPFUL      6
NATRACE      6
NATSOC       6
NATROAD      6
NATFARE      6
NATAID       6
NATARMS      6
NATEDUC      6
NATDRUG      6
NATCRIME     6
NATCITY      6
NATMASS      6
NATHEAL      6
NATSPAC      6
IF12WHO      6
VOTE12       6
IF08WHO      6
VOTE08       6
IF04WHO      6
VOTE04       6
DISCAFF      6
MARITAL      6
NATENVIR     6
NATPARK      6
RIFLE        6
SHOTGUN      6
NATDRUGY     6
NATRACEY     6
NATCRIMY     6
NATARMSY     6
NATCITYY     6
NATAIDY      6
NATHEALY     6
NATEDUCY     6
NATENVIY     6
NATSPACY     6
NATENRGY     6
NATSCI       6
NATCHLD      6
COURTS       6
NATFAREY     6
TEENSEX      7
XMARSEX      7
PREMARSX     7
PRES08       7
OBEY         7
SPANKING     7
HEALTH       7
VOTE00       7
FEJOBAFF     7
DISCAFFM     7
DISCAFFW     7
DIPGED       7
RELPERSN     7
DEGREE       7
SPRTPRSN     7
RELITEN      7
PRES04       7
TAX          7
PRES12       7
POPULAR      7
THNKSELF     7
WORKHARD     7
HELPOTH      7
FEFAM        7
FEPRESCH     7
SATJOB       7
PILLOK       7
BIBLE        7
COOP         7
GETAHEAD     7
NEWS         7
HUNT         7
AFFRMACT     7
HELPSICK     8
PHONE        8
FEHIRE       8
HELPBLK      8
MARHISP      8
HELPNOT      8
HELPPOOR     8
MEOVRWRK     8
PARSOL       8
FINRELA      8
PADEG        8
CLASS_       8
JOBLOSE      8
PRES00       8
JEW          8
HOMOSEX      8
WRKWAYUP     8
KIDSSOL      9
RES16        9
REGION       9
GOD          9
PRAY         9
WRKSTAT      9
ATTEND      10
SOCREL      10
EQWLTH      10
POLVIEWS    10
SOCOMMUN    10
PARTYID     10
SOCFREND    10
SOCBAR      10
SECTOR      10
SPWRKSTA    10
CLOSEWHT    12
CLOSEBLK    12
RANK        13
dtype: int64