In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('data/GSS.csv')

In [6]:
df_remap = pd.read_excel('data/GSS_metadata - Remaping Tool.xls',sheet_name='Codes')
df_remap = df_remap.iloc[:,1:]
df_remap['Variable Name'] = df_remap['Variable Name'].str.upper()
df_remap.head()

  Variable Name  Code          Label
0       WRKSTAT     9      No answer
1       WRKSTAT     8          Other
2       WRKSTAT     7  Keeping house
3       WRKSTAT     6         School
4       WRKSTAT     5        Retired

In [7]:
def recur_dictify(frame):
    if len(frame.columns) == 1:
        if frame.values.size == 1: return frame.values[0][0]
        return frame.values.squeeze()
    grouped = frame.groupby(frame.columns[0])
    d = {k: recur_dictify(g.iloc[:,1:]) for k,g in grouped}
    return d

In [11]:
remaper = recur_dictify(df_remap)
df2 = df.replace(remaper)
df2 = df2.replace('Not applicable',np.NaN)
df2 = df2.replace('No answer',np.NaN)
df2.isna().sum()

YEAR            0
ID_             0
WRKSTAT        19
HRS1        26294
HRS2        61278
EVWORK      40672
WRKSLF       3692
WRKGOVT     36362
OCC10        3802
INDUS10      3968
MARITAL        25
AGEWED      35904
DIVORCE     23565
SPWRKSTA    29409
SPHRS1      42207
SPEVWORK    51736
PAWRKSLF    11756
PAIND80     37015
SIBS         1632
CHILDS          0
AGE           220
EDUC          103
DEGREE        143
PADEG       11687
MAJOR1      59748
MAJOR2      61929
DIPGED      56056
WHENHS      60967
WHENCOL     59758
SECTOR      60117
            ...
COOP         2045
COMPREND      558
FEPRESCH    33405
FEFAM       33415
RACDIF1     33652
RACDIF2     33632
RACDIF3     33631
RACDIF4     33686
HELPPOOR    30468
HELPNOT     30483
HELPSICK    30491
HELPBLK     30050
GOD         39973
REBORN      42537
SAVESOUL    45174
MARHISP     49228
DISCAFF     44380
FEJOBAFF    54915
DISCAFFM    55193
DISCAFFW    55181
FEHIRE      54456
RELPERSN    46674
SPRTPRSN    46668
OTHLANG     46830
OTHLANG1    58231
OTHLANG2    61402
MEOVRWRK    46307
DATEINTV     4691
COHORT        221
BALLOT      21875
Length: 246, dtype: int64