In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/GSS.csv')

In [113]:
df_remap = pd.read_excel('data/GSS_metadata - Remaping Tool.xls',sheet_name='Codes')
df_remap = df_remap.iloc[:,1:]
df_remap['Variable Name'] = df_remap['Variable Name'].str.upper()
df_remap.head()

  Variable Name  Code          Label
0       WRKSTAT     9      No answer
1       WRKSTAT     8          Other
2       WRKSTAT     7  Keeping house
3       WRKSTAT     6         School
4       WRKSTAT     5        Retired

In [117]:
def recur_dictify(frame):
    if len(frame.columns) == 1:
        if frame.values.size == 1: return frame.values[0][0]
        return frame.values.squeeze()
    grouped = frame.groupby(frame.columns[0])
    d = {k: recur_dictify(g.iloc[:,1:]) for k,g in grouped}
    return d

In [137]:
df2 = df.replace(remaper)
df2.isna().sum()